
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
html{
    scroll-behavior: smooth;
}
body {
background-color: rgb(25,30,50);
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	height: 100%;
}
.pointercursor{
    cursor: pointer;
}
h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.topnav {
  position: fixed;
  float: left;
  right: 0px;
  top: 0px;
  padding-right: 60px;
  padding-left: auto;
  background-color: #333;
  overflow: hidden;
  z-index: 99;
}

.float{
    display: block;
    opacity: 0;
	position: fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#15A9D2;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index: 99;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

  transition: background-color 0.25s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  transition:background-color 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04A8FA;
  color: white;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  margin-left: 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.15s ease-in;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container{
    position: relative;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: white;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
}

p{
    color: white;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
}
.center-fit {
    opacity: 0.9;
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    align: center;
}

.divlinks{
    position: absolute;
    border: 4px solid white;
    width: 400px;
    opacity: 1;
    transition: border 0.25s;
    text-decoration: none;
}
.divlinks:hover{
    border: 8px solid rgb(40,150,200);
    opacity:0.6;
    cursor: pointer;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 15px;
}
.navbar-toggle {
	background-color: rgba(0, 0, 0, 0.89);
}